/* hero section styles */
.hero-img{
    display: flex; align-items: center; justify-content: center
}
.hero-parent{
    background-image: url(/assets/Hero-bg.png);
    
}
.hero-header{
    text-align: center;
}
.hero-description{text-align: center;}

.primary-btn{
display: flex;
align-items: center;
justify-content: center;


}
.primary-btn>a>button{
position: static;
width: 160px;
height: auto;
padding: 21px;
border-radius: 8px;
background: rgb(13, 19, 33);
color: white;

}

/* hero section Style end */

/* w-d-section-styles start */
.w-d-section{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    width: 1200px;
    margin: 0 auto;
}

.w-d-text{
    text-align: center;
    padding:60px ;    
}
.w-d-sec-items{
    margin: 0 auto;
    background-color: azure;
    }
.item-1{
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    padding: 48px;
    gap: 50px;
    text-align: justify;
}

.right-item{
    width: 50%;
    height: auto;
}
.left-item{
    width: 50%;
    height: auto;
}

/* w-d-section-styles end---- */

.inspiration-section{
    text-align: center ;
    width: 1200px;
    margin: 0 auto;
}
.inspiration-section iframe{
    border: 12px solid rgb(139, 118, 118);
    border-radius: 7px;
}
/* target section style start */
.target-section{
    text-align: center;
    width: 1200px;
    margin: 0 auto;
}
.target-items{
    display: flex;
    padding: 48px;
    
}
.target-item-1{
    text-align: left;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 30px;
    margin-right: 10px;
}
.target-item-2{
    text-align: left;
    background-color:rgba(0, 76, 232, 0.05);
    border-radius: 16px;
    padding: 30px;
    margin-right: 10px;
}
.target-item-3{
    text-align: left;
    background-color: rgba(255, 223, 0, 0.05);
    border-radius: 16px;
    padding: 30px;
    margin-right: 10px;
}

/* support section style */
.support-section{
    background-image: url(/assets/handshake.jpg);
    background-position:cover;
    width: 1200px;
    margin: 0 auto;
    
}
.support-text{
    text-align: center;
    color: white;
    padding: 10px;
}
.support-form{
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
    
}
.support-form div{
padding-left: 50px;
}
.support-form div textarea{
border: 2px solid black;
position: static;
width: 548px;
height: 57px;
border-radius: 8px;
font-weight: 700;
font-size: 20px;
}
.support-form div button{
    width: 120px;
height: 57px;
border-radius: 8px;
font-weight: 700;
font-size: 20px;
}
/* footer section style */
.footer-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(13, 19, 33, 0.03);
    padding: 30px;
}

