/* hero section styles */
.hero-img{
    display: flex; align-items: center; justify-content: center
}
.hero-parent{
    background-image: url(/assets/Hero-bg.png);
    
}
.hero-header{
    text-align: center;
}
.hero-description{text-align: center;}

.primary-btn{
display: flex;
align-items: center;
justify-content: center;


}
.primary-btn>a>button{
position: static;
width: 160px;
height: auto;
padding: 21px;
border-radius: 8px;
background: rgb(13, 19, 33);
color: white;

}

/* hero section Style end */

/* w-d-section-styles start */
.w-d-section{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    width: 1200px;
    margin: 0 auto;
}

.w-d-text{
    text-align: center;
    padding:60px ;    
}
.w-d-sec-items{
    margin: 0 auto;
    background-color: azure;
    }
.item-1{
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    padding: 48px;
    gap: 50px;
    text-align: justify;
}

.right-item{
    width: 50%;
    height: auto;
}
.left-item{
    width: 50%;
    height: auto;
}

/* w-d-section-styles end---- */

.inspiration-section{
    text-align: center ;
    width: 1200px;
    margin: 0 auto;
}
.inspiration-section iframe{
    border: 12px solid rgb(139, 118, 118);
    border-radius: 7px;
}